* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    height: 100%;
    padding: 0;

}
header {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
    background: linear-gradient(90deg,#0a3565,#1782d9)
}

.navheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    justify-items: flex-end;
}

.navbar-brand {
    flex: 1;
}

.nav-bar {
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
}

.nav-bars {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%; 
}

.nav {
    flex: 2;
}


#bt-msodal {
    border-radius: 40px;
    margin-left: 0!important;
    padding: 2px 15px;
    margin-left: 10px;
    background-color: initial;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.icon-search {
    vertical-align: middle;
}


.body-img {
    flex: 1;
    width: 100%
}

.body-img img {
    width: 100%

}

h1, p {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}